<h2>Edit Assignment</h2>

<%= form_for @changeset, assignment_path(@conn, :update), fn f -> %>
  <label>Time: <%= text_input f, :time %></label>
  <%= hidden_input f, :user_id %>
  <%= hidden_input f, :task_id %>
  <%= hidden_input f, :id %>
  <%= submit "Update Assignment" %>
<% end %>

<span><%= link "Back", to: task_path(@conn, :show, @task_id) %></span>
